
header{
   position: fixed;
   top:0;
   width: 100%;
}

.product-list-header{
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
    padding:2px;
}

.product-container{
    margin-top:60px;
}

.side-bar{
    position: fixed;
    top:7.5%;
    right: 0;
    height: 100%;
    min-width:20%;
    background-color:rgba(111, 190, 255, 0.8);
    padding-inline: 3px;
}
.list-view{
    transform: scale(1,1);
}
.list-view:hover{
    transform: scale(1.1,1.2);
    transition-delay: 0.3ms;

}